## Pyspark dataframe notes

- What are PySpark Dataframes
- Reading the Dataset
- Checking the datatypes and coloumn (schema)
- Other similar operations
- Basically we are going to see how to do some data pre-processing with pyspark

### Questions

??? look up the actual functions in the documentation, do you have to give an `appName` what does `getOrCreate()` actually do

Pyspark dataframes are **lazily evaluated** this means that coputation is delayed until the value is needed, this is memeory efficent as uneccessary operations are avoided, allows working with theoretically infinte data since only the reuqired protion sn computed

In [9]:
from pyspark.sql import SparkSession
csv_path = './titanic.csv'

In [10]:
# This is how you actually start a pyspark session 
spark=SparkSession.builder.appName('DataFrame').getOrCreate()
spark

In [23]:
# Read the dateset, note that infer schema allows for finding types
spark_df = spark.read.option("header", "true").csv(csv_path, inferSchema = True)
spark_df.show(10)

# Check the schema
spark_df.printSchema()

# get coulumn names 
print(spark_df.columns)

# Note that if I print like this I ge the rows
spark_df.head(2)

# Selecting a single column
type(spark_df.select('Name')) # You can also select muliple columns by passing a list

# NOTE: this returns a coloumn object wich is diffrent and is not for viewin the function
# spark_df['Name']

+--------+------+--------------------+------+----+-----------------------+-----------------------+-------+
|Survived|Pclass|                Name|   Sex| Age|Siblings/Spouses Aboard|Parents/Children Aboard|   Fare|
+--------+------+--------------------+------+----+-----------------------+-----------------------+-------+
|       0|     3|Mr. Owen Harris B...|  male|22.0|                      1|                      0|   7.25|
|       1|     1|Mrs. John Bradley...|female|38.0|                      1|                      0|71.2833|
|       1|     3|Miss. Laina Heikk...|female|26.0|                      0|                      0|  7.925|
|       1|     1|Mrs. Jacques Heat...|female|35.0|                      1|                      0|   53.1|
|       0|     3|Mr. William Henry...|  male|35.0|                      0|                      0|   8.05|
|       0|     3|     Mr. James Moran|  male|27.0|                      0|                      0| 8.4583|
|       0|     1|Mr. Timothy J McC...|  male|54.0|                      0|                      0|51.8625|
|       0|     3|Master. Gosta Leo...|  male| 2.0|                      3|                      1| 21.075|
|       1|     3|Mrs. Oscar W (Eli...|female|27.0|                      0|                      2|11.1333|
|       1|     2|Mrs. Nicholas (Ad...|female|14.0|                      1|                      0|30.0708|
+--------+------+--------------------+------+----+-----------------------+-----------------------+-------+
only showing top 10 rows

root
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Siblings/Spouses Aboard: integer (nullable = true)
 |-- Parents/Children Aboard: integer (nullable = true)
 |-- Fare: double (nullable = true)

['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Siblings/Spouses Aboard', 'Parents/Children Aboard', 'Fare']

pyspark.sql.dataframe.DataFrame

## Handeling missing values

### Additional learnt info 

UDF user defined function e.g. that you can get in SQL